.container {
  max-width: 900px;
  margin: 125px auto;
  padding: 20px;
  h1 {
    color: #091010;
    font-size: 32px;
    font-weight: 700;
  }
  p {
    color: #292929;
    font-weight: 500;
    font-size: 20px;
  }
}
