$primary-color: #fe5464;
$primary-subcolor: #fcc0c5;
$text-color: #808080;

.flex {
  display: flex;
  justify-content: space-around;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textPrimary {
  color: $primary-color;
}

.btn {
  background: #333;
  border: 3px solid #fff;
  color: white;

  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2.5em;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #fff;
  border: 3px solid $primary-color;
  color: $primary-color;
}

.btnContainer {
  padding-top: 2em;
  margin-bottom: 35px;
}

.bg {
  position: relative;
  font-family: "Montserrat";
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 150px 0px 100px;
  padding-left: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  .homeWelcome {
    margin-top: 75px;
    max-width: 400px;
    z-index: 1;
  }

  .mainImg {
    width: 450px;
    @media (max-width: 1000px) {
      position: absolute;
      width: 300px;
      right: 30px;
    }
    @media (max-width: 600px) {
      width: 265px;
      right: 20px;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
  }

  h1 span {
    color: $primary-color;
  }

  p {
    color: $text-color;
  }

  .imgContainer {
    margin: 25px 20px 0px;
  }

  .img {
    max-width: 550px;
    width: 100%;
    border: 2px solid #d3d3d3;
    margin: 0px 8px;
    transition: 0.2s ease-in-out;
  }

  .img:hover {
    border: 2px solid $primary-color;
  }
}

.storesSection {
  background-color: $primary-subcolor;
  width: 100% !important;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div p {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @media (max-width: 665px) {
      flex-direction: column;
    }
  }

  .logoImg {
    max-width: 185px;
    width: 100%;
    margin: 0px 20px;
    cursor: pointer;
  }
}

.subProductSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  width: 100%;
  margin: 35px auto;
  padding: 0px 20px;

  h1 {
    font-size: 35px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
  }

  .card {
    background-color: #3a4ec4;

    padding: 25px 15px;
    margin: 20px;

    min-width: 250px;
    flex-grow: 1;
    height: 200px;
    text-align: center;

    p {
      color: #fff;
      font-weight: bold;
    }

    &.card2 {
      background-color: #f1d2b5 !important;
      p {
        color: #9b5819 !important;
      }
    }

    &.card3 {
      background-color: $primary-subcolor !important;
      p {
        color: $primary-color !important;
      }
    }

    .icon {
      width: 35px;
      padding-bottom: 10px;
    }

    button {
      background-color: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 6px;
      cursor: pointer;

      padding: 10px 20px;
      margin: 15px 0px;
      width: 100%;

      font-weight: 500;
      font-size: 14px;
      color: #333;
    }
  }
}

.productSection {
  background: #eeeeee;
  padding: 50px 20px;

  .container {
    max-width: 1500px;
    margin: 0px auto;
  }
  h1 {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    max-width: 250px;
    background-color: #fff;
    border-radius: 6px;
    margin: 10px 20px;
    padding: 20px 40px;
    color: #333;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-weight: bold;
      text-align: left;
    }
    button {
      padding: 10px 20px;
      background-color: transparent;
      border: 1px solid #333;
      color: #333;
      cursor: pointer;
      font-weight: 600;
      font-size: 15px;
      margin-top: 20px;
    }
  }
  .productImg {
    width: 175px;
  }
}

.productImgSection {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;

  max-width: 1400px;
  width: 100%;
  margin: 150px auto 100px;
  padding: 0px 40px;

  .productImg {
    width: 400px;
    margin: 0px 15px;
  }

  .productImgSub {
    max-width: 275px;
    width: 100%;
    height: 100%;
    margin: 10px 15px;
    @media (max-width: 800px) {
      min-width: 125px;
      width: 100%;
      height: auto;
    }
  }

  .contentContainer {
    max-width: 350px;
  }
  @media (max-width: 1172px) {
    flex-direction: column;
    justify-content: start;
    margin: 75px auto;
    .contentContainer {
      margin-top: 50px;
      max-width: 100%;
    }
  }
  @media (max-width: 800px) {
    .productImg {
      display: none;
    }
    .flexColumn {
      flex-direction: row;
    }
  }
}

.reviewContainer {
  position: relative;
  .reviewBg {
    background: url(https://i.ibb.co/n82T8BK/review-bg-3.jpg) no-repeat;
    background-size: cover !important;
    max-width: 100%;
    min-height: 100%;
    height: 300px;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
    opacity: 0.7;
    background-color: #333;
    .reviewContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding: 35px 20px;
      height: 100%;
      text-align: center;
    }
    .reviewIcon {
      width: 30px;
      margin: 20px 5px;
    }
  }
  button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 25px;
    margin-top: 15px;
  }
}

.footer {
  background-color: #f5f5f5;
  margin: 100px auto 0px;

  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 35px 20px 0px;
  }

  p {
    color: $text-color;
  }
}
